body{
  background-image: url(https://www.gensh.in/wallpaper/genshin/genshin_12_4K.jpg);
  background-size:2600px auto;
  background-repeat:no-repeat;
}

nav{
  background-color:yellow;
}

nav ul{
  display:flex;
  list-style:none;
  justify-content:space-around;
  font-size:20px;
  text-decoration:underline;
}

main{
  text-align:center;
  background-color:red;
  margin:50px 300px;
  font-size:20px;
}

ol{
  list-style-position:inside;
}

li{
  font-size:30px;
  color:Blue;
}

.Boomer{
  color:yellow;
}

#Zoomer{
  background-color:black;
}
section{
  text-align:center;
  
}
#Lenny{
  color:yellow;
  
}

#Gabe{
  color:red;
}